.html
{
	background: #7F7F7F url("../images/img_6780.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 550px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 30px 20px 20px;
}

#menuu230
{
	z-index: 2;
	width: 920px;
}

#u1005
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
}

#u1006
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006:hover
{
	margin: 0px;
}

#u1006:active
{
	margin: 0px;
}

#u1008-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006:hover #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1006:active #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u948
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 184px;
}

#u949
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006.MuseMenuActive,#u949:hover
{
	margin: 0px;
}

#u949:active
{
	margin: 0px;
}

#u952-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006.MuseMenuActive #u1008-4,#u949:hover #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u949:active #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 368px;
}

#u965
{
	width: 182px;
	padding-bottom: 46px;
}

#u949.MuseMenuActive,#u965:hover
{
	margin: 0px;
}

#u965:active
{
	margin: 0px;
}

#u967-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u949.MuseMenuActive #u952-4,#u965:hover #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u965:active #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u932
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 552px;
}

#u933
{
	width: 183px;
	padding-bottom: 46px;
}

#u965.MuseMenuActive,#u933:hover
{
	margin: 0px;
}

#u933:active
{
	margin: 0px;
}

#u936-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u965.MuseMenuActive #u967-4,#u933:hover #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u933:active #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u916
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 737px;
}

#u917
{
	width: 183px;
	padding-bottom: 46px;
}

#u933.MuseMenuActive,#u917:hover
{
	margin: 0px;
}

#u917:active
{
	margin: 0px;
}

#u917.MuseMenuActive
{
	margin: 0px;
}

#u920-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u933.MuseMenuActive #u936-4,#u917:hover #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917:active #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917.MuseMenuActive #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu425-47
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#u425-47
{
	z-index: 33;
	width: 440px;
	min-height: 457px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u868
{
	z-index: 80;
	width: 153px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 268px;
	background: transparent url("../images/follow.png") no-repeat left top;
	background-size: contain !important;
}

#u868:hover
{
	margin: 61px -10000px 0px 0px;
	background: transparent url("../images/follow2.png") no-repeat left top;
	background-size: contain !important;
}

#u1589-58
{
	z-index: 81;
	width: 440px;
	min-height: 457px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	margin-right: -10000px;
	left: 479px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u425,#u425-3,#u1589-3,#u1589-19
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}

#u1589-39
{
	padding-right: 10px;
	padding-left: 10px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1589-37
{
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

#u1589-38
{
	line-height: 17px;
}

#u425-4,#u425-6,#u425-8,#u425-9,#u425-11,#u425-12,#u425-17,#u425-19,#u425-20,#u425-25,#u425-27,#u425-28,#u425-33,#u425-35,#u425-36,#u425-41,#u425-43,#u425-44,#u425-45,#u1589,#u1589-4,#u1589-6,#u1589-7,#u1589-12,#u1589-16,#u1589-17,#u1589-20,#u1589-25,#u1589-30,#u1589-35,#u1589-36,#u1589-40,#u1589-45,#u1589-50,#u1589-55
{
	padding-right: 10px;
	padding-left: 10px;
}

body
{
	padding-bottom: 75px;
}

#page .verticalspacer
{
	clear: both;
}

