.html
{
	background: #7F7F7F url("../images/img_6780.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 550px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 30px 20px 20px;
}

#menuu230
{
	z-index: 2;
	width: 920px;
}

#u1005
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
}

#u1006
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006:hover
{
	margin: 0px;
}

#u1006:active
{
	margin: 0px;
}

#u1008-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006:hover #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1006:active #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u948
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 184px;
}

#u949
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006.MuseMenuActive,#u949:hover
{
	margin: 0px;
}

#u949:active
{
	margin: 0px;
}

#u952-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006.MuseMenuActive #u1008-4,#u949:hover #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u949:active #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 368px;
}

#u965
{
	width: 182px;
	padding-bottom: 46px;
}

#u949.MuseMenuActive,#u965:hover
{
	margin: 0px;
}

#u965:active
{
	margin: 0px;
}

#u967-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u949.MuseMenuActive #u952-4,#u965:hover #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u965:active #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u932
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 552px;
}

#u933
{
	width: 183px;
	padding-bottom: 46px;
}

#u965.MuseMenuActive,#u933:hover
{
	margin: 0px;
}

#u933:active
{
	margin: 0px;
}

#u936-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u965.MuseMenuActive #u967-4,#u933:hover #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u933:active #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u916
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 737px;
}

#u917
{
	width: 183px;
	padding-bottom: 46px;
}

#u933.MuseMenuActive,#u917:hover
{
	margin: 0px;
}

#u917:active
{
	margin: 0px;
}

#u917.MuseMenuActive
{
	margin: 0px;
}

#u920-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u933.MuseMenuActive #u936-4,#u917:hover #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917:active #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917.MuseMenuActive #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu430-38
{
	width: 0.01px;
	margin-top: 25px;
	position: relative;
}

#u430-38
{
	z-index: 33;
	width: 440px;
	min-height: 457px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u430-3,#u430-8
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u430-18,#u430-22,#u430-26
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u430-5,#u430-6,#u430-13,#u430-14,#u430-27
{
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u430-29
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u430,#u430-34,#u430-35
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u430-36
{
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	padding-right: 10px;
	padding-left: 20px;
}

#u1497-42
{
	z-index: 71;
	width: 440px;
	min-height: 457px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u1497
{
	padding-right: 20px;
	padding-left: 60px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1497-27
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1497-35
{
	font-size: 13px;
	padding-right: 20px;
	padding-left: 60px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1497-33
{
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 17px;
}

#u1497-6,#u1497-7,#u1497-12,#u1497-13,#u1497-18,#u1497-19,#u1497-24,#u1497-25,#u1497-29,#u1497-30,#u1497-32,#u1497-36,#u1497-40
{
	padding-right: 20px;
	padding-left: 60px;
}

#u1498
{
	z-index: 113;
	width: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 491px;
}

#u1503
{
	z-index: 115;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 496px;
}

#u1509
{
	z-index: 117;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 493px;
}

#u1509_img
{
	padding-right: 1px;
}

#u1523
{
	z-index: 119;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 496px;
}

#u1523_img
{
	padding-right: 5px;
}

#u1540
{
	z-index: 121;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 487px;
}

#u1566
{
	z-index: 123;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 498px;
}

#u1576
{
	z-index: 125;
	width: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
	left: 496px;
}

body
{
	padding-bottom: 75px;
}

#page .verticalspacer
{
	clear: both;
}

