.html
{
	background: #7F7F7F url("../images/img_6780.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 599.6000000000001px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: 30px;
}

#menuu230
{
	z-index: 2;
	width: 920px;
	margin-left: 20px;
}

#u1005
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
}

#u1006
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006:hover
{
	margin: 0px;
}

#u1006:active
{
	margin: 0px;
}

#u1008-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006:hover #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1006:active #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u948
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 184px;
}

#u949
{
	width: 182px;
	padding-bottom: 46px;
}

#u1006.MuseMenuActive,#u949:hover
{
	margin: 0px;
}

#u949:active
{
	margin: 0px;
}

#u952-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u1006.MuseMenuActive #u1008-4,#u949:hover #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u949:active #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 182px;
	min-height: 68px;
	margin-right: -10000px;
	left: 368px;
}

#u965
{
	width: 182px;
	padding-bottom: 46px;
}

#u949.MuseMenuActive,#u965:hover
{
	margin: 0px;
}

#u965:active
{
	margin: 0px;
}

#u967-4
{
	width: 180px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u949.MuseMenuActive #u952-4,#u965:hover #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u965:active #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u932
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 552px;
}

#u933
{
	width: 183px;
	padding-bottom: 46px;
}

#u965.MuseMenuActive,#u933:hover
{
	margin: 0px;
}

#u933:active
{
	margin: 0px;
}

#u936-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u965.MuseMenuActive #u967-4,#u933:hover #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u933:active #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u916
{
	width: 183px;
	min-height: 68px;
	margin-right: -10000px;
	left: 737px;
}

#u917
{
	width: 183px;
	padding-bottom: 46px;
}

#u933.MuseMenuActive,#u917:hover
{
	margin: 0px;
}

#u917:active
{
	margin: 0px;
}

#u917.MuseMenuActive
{
	margin: 0px;
}

#u920-4
{
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	top: 23px;
	left: 1px;
}

#u933.MuseMenuActive #u936-4,#u917:hover #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917:active #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u917.MuseMenuActive #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu429-19
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u429-19
{
	z-index: 33;
	width: 440px;
	min-height: 397px;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127, 127, 127, 0.5);
}

#u429-6
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
}

#u429,#u429-7,#u429-8
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u429-11,#u429-14
{
	padding-right: 15px;
	padding-left: 15px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u429-9,#u429-12
{
	font-size: 18px;
	line-height: 22px;
}

#u429-2,#u429-5,#u429-15,#u429-16
{
	color: #FFFFFF;
}

#slideshowu1026
{
	z-index: 52;
	width: 0.01px;
	height: 485px;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#u1041
{
	position: absolute;
	width: 336px;
	height: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 105px;
	left: 53px;
}

#u1041popup
{
	z-index: 53;
}

#u1158
{
	z-index: 54;
	width: 336px;
	height: 209px;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1158_img
{
	padding: 13px 36px 13px 37px;
}

#u1128
{
	z-index: 56;
	width: 336px;
	height: 209px;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1128_img
{
	padding: 13px 39px 13px 40px;
}

#u1143
{
	z-index: 58;
	width: 336px;
	height: 209px;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1143_img
{
	padding: 13px 47px 12px;
}

#u1034
{
	position: absolute;
	width: 441px;
	padding-bottom: 4px;
}

#u1034popup
{
	z-index: 60;
}

#u1161
{
	z-index: 61;
	width: 105px;
	height: 84px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 53px;
}

#u1161:hover
{
	border-color: #FFFFFF;
	margin: 4px -10000px 0px 0px;
}

#u1161_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u1131
{
	z-index: 63;
	width: 105px;
	height: 84px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 168px;
}

#u1131:hover
{
	border-color: #FFFFFF;
	margin: 4px -10000px 0px 0px;
}

#u1131_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u1146
{
	z-index: 65;
	width: 105px;
	height: 84px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 283px;
}

#u1146:hover
{
	border-color: #FFFFFF;
	margin: 4px -10000px 0px 0px;
}

#u1161.SSSlideLinkSelected,#u1131.SSSlideLinkSelected,#u1146.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 4px -10000px 0px 0px;
}

#u1161_clip,#u1131_clip,#u1146_clip
{
	overflow: hidden;
	width: 105px;
	height: 84px;
}

#u1146_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u1030
{
	position: absolute;
	width: 336px;
	top: 317px;
	left: 53px;
}

#u1030popup
{
	z-index: 67;
}

#u1164-6
{
	z-index: 68;
	width: 336px;
	min-height: 100px;
	text-align: justify;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1134-8
{
	z-index: 74;
	width: 336px;
	min-height: 100px;
	text-align: justify;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1134-2
{
	font-style: italic;
}

#u1149-4
{
	z-index: 82;
	width: 336px;
	min-height: 100px;
	text-align: justify;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1029-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 370px;
}

#u1029-4popup
{
	z-index: 86;
}

#u1072-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 470px;
}

#u1072-4popup
{
	z-index: 90;
}

#u1028-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 402px;
	left: 315px;
}

#u1028-4popup
{
	z-index: 94;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	padding-bottom: 74px;
}

#page .verticalspacer
{
	clear: both;
}

